:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  max-height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background-color: hsl(135, 5%, 45%);
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(35, 85%, 55%);
}
